<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoVia - Termos de responsabilidades</title>
    <link rel="icon" href="img/icons/favicon.png">
    <link rel="stylesheet" href="/styles/termos.css">
</head>
<body>
    <header style="display: flex; align-items: center; justify-content: center; gap: 20px; text-align: center; padding: 10px;">
        <img id="logo" src="img/icons/LOGO-ECOVIA-3.png" alt="logomarca" 
            style="max-width: 140px; height: auto; cursor: pointer;">
        
        <h1 style="margin: 0; flex: 1;">Bem-vindo aos Termos de Uso e Responsabilidades do Ecovia</h1>
        
        <img id="logo" src="img/icons/LOGO-ECOVIA-3.png" alt="logomarca" 
            style="max-width: 140px; height: auto; cursor: pointer;">
    </header>    

    <main>
        <section id="introducao">
            <h2>Olá usuário!</h2>
            <p>Aqui você pode encontrar informações de uso e fica ciente das responsabilidades ao utilizar o site e como ele funciona.</p>
        </section>

        <section id="descricao">
            <h2>Resumo</h2>
            <p>Em agosto de 2010, o Brasil promulgou a Lei nº 12.305/2010, conhecida como Política Nacional de Resíduos Sólidos (PNRS), 
            que busca tratar dos problemas ambientais, sociais e econômicos relacionados à gestão de resíduos sólidos, promovendo regras 
            bem definidas para todos os níveis da sociedade quanto à responsabilidade compartilhada, seja governamental, empresarial ou 
            individual.
            Nesse contexto, o Ecovia nasce com o objetivo facilitar o acesso à informação sobre locais de descarte de resíduos, unificando esses
            pontos espalhados ao redor da comunidade em um só lugar, tornando acessível aos usuários do sistema, locais corretos de descarte em sua
            própria região, tudo isso atendendo as exigências legais. Isso é possível graças ao apoio colaborativo dos usuários, que uma vez cadastrados
            podem adicionar pontos de descarte reais, se o local candidato atender às diretrizes descritas mais abaixo.</p>
        </section>

        <section id="usuario">
            <h2>Responsabilidades do usuário</h2>
            <p>O usuário deve estar ciente das responsabilidades ao utilizar o sistema, são elas:</p>
            <ul>
                <li>O cuidado com condições climáticas e segurança ao utilizar seu dispositivo em áreas externas.</li>
                <li>Prestar atenção ao se locomover, respeitando faixas de pedestres e sinalização de trânsito.</li>
                <li>Não utilizar o sistema enquanto dirige ou pilota, para evitar acidentes.</li>
                <li>Verificar as informações de rotas e locais para evitar possíveis erros, softwares podem cometer erros.</li>
                <li>Fazer bom uso do software e de suas funcionalidades prezando sempre pela boa fé.</li>
            </ul>
        </section>

        <section id="software">
            <h2>Responsabilidades do software</h2>
            <p>O software também possui responsabilidades, incluindo:</p>
            <ul>
                <li>Garantir a privacidade dos dados dos usuários, como e-mail e localização.</li>
                <li>Prevenir o compartilhamento de informações de localização entre usuários.</li>
                <li>Registrar e armazenar as contribuições dos usuários para a devida referência perante aos outros usuários quanto suas contribuições.</li>
                <li>Guardar e recuperar os dados de acesso do usuário, para que o mesmo possa fazer suas contruibuições e garantir a vida do software.</li>
            </ul>
        </section>

        <section id="pontos">
            <h2>Critérios de elegibilidade para pontos de descarte</h2>
            <p>Para que um ponto de descarte seja aceito, ele deve:</p>
            <ul>
                <li>Ser um local legalizado pela administração da prefeitura ou do Estado, pois garante a manutenção e longividade dos pontos adicionadod.</li>
                <li>Não ser temporário ou sazonal, para evitar desatualizações ou erros que prejudiquem outros usuários.</li>
                <li>Está em uma área segura para os usuários e acessível para pedestres.</li>
                <li>Você pode solicitar um ponto de descarte de forma remota, ao escolher um local no mapa durante sua solicitação.</li>
                <li><strong>Não solicite pontos inexistentes.</strong></li>
            </ul>
            <p>Seja ético ao propor novos pontos!</p>
        </section>

        <section id="votacao">
            <h2>Como funciona a votação da comunidade?</h2>
            <p>Para que um ponto seja adicionado ao sistema, o mesmo necessita da aprovação da comunidade, aqui estão algumas regras:</p>
            <li>Se a solicitação receber <strong>10 votos positivos</strong>, de usuários distintos, este ponto será adicionado ao sistema e ficará visível para todos os usuários.</li>
            <li>Se receber <strong>10 votos negativos</strong>, a solicitação é rejeitada, portanto sumirá do mapa de solicitações.</li>
            <li>Cada usuário registrado pode votar apenas um vez em cada ponto.</li>
            <li>Um usuário registrado pode votar no seu próprio ponto solicitado, mas somente uma única vez.</li>
            <li>Seja ético ao votar, verifique se você conhece o local para evitar erros, não vote em solicitações fora da sua região ou que você não conhece.</li>
        </section>

        <section id="remocao">
            <h2>Critérios de remoção</h2>
            <p>Um ponto de descarte pode ser removido se:</p>
            <ul>
                <li>Estiver em propriedade privada ou inacessível.</li>
                <li>O local for incorreto ou inexistente.</li>
                <li>Houver problemas éticos ou de segurança associados ao ponto.</li>
                <li>Se este não estiver em conformidade com alguma lei local ou estadual.</li>
            </ul>
        </section>
    </main>

    <footer>
        <p id="copyright">&copy; 2024 EcoVia | <a id="copyright-a">Todos os direitos reservados</a></p>
    </footer>
</body>
</html>