* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
}
.navbar{
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 20px; 
  background-color: rgba(255, 255, 255, 0);
}
.navbar a:first-child {
  margin-right: auto;
}
#map{
  z-index: 1;
  position: absolute;
  top: 0px;
  width: 100%;
  height: calc(100vh - 60px);
}
.message{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1004;
  display: none;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
  min-width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.message.error{
  background-color: #ffffff;
  color: #fd1515;
  border: 1px solid #000000;
}
.message.success{
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.5);
}
.modal-content{
    display: none;
    position: absolute;
    z-index: 4;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    background: #fff;
}
span{
  cursor: pointer;
}
.modal a{
  cursor: pointer;
  color: #197acf;
}
.modal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  color: #000000;
  cursor: pointer;
  transition: color 4s ease;
}
.close:hover,
.close:focus{
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}
.modal h4 {
  margin-bottom: 20px;
  color: #000000;
  font-size: 1.0em;
  text-align: center;
}
.modal input[type="text"],
.modal input[type="email"],
.modal input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
.modal input[type="text"]:focus,
.modal input[type="email"]:focus,
.modal input[type="password"]:focus {
    border: 1px solid #000000;
    outline: #000000;
}
.esqueceu-senha{
  cursor: pointer;
  text-decoration: none;
  font-size: x-small;
}
.modal button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(45deg, #197acf, #115c9d);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}
.modal button[type="submit"]:hover {
  background: linear-gradient(45deg, #115c9d, #197acf);
  transform: scale(1.05);
}
.route-modal-alert{
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 1);
}
.modal-content-ponto{
  display: none;
  position: absolute;
  z-index: 5;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  background: linear-gradient(-355deg, #2d2c2f 50%, rgba(0, 0, 0, 0.5) 80%),
  url('/img/image/modal-back.jpeg');
  background-size: cover;
  background-position: top right;
}
.modal-content-ponto p {
  color: #ffffff;
  margin: 0;
  font-size: 16px;
}
.modal-content-ponto #atributo{
  color: #ffffff;
  margin: 0;
  font-size: 16px;
}
.modal-content-ponto #span-fechar{
  color: #fff;
}
.modal-content-ponto h4{
  text-align: center;
  color: #ffffff;
}
#iconContainer{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 10px;
}
.icon{
  display: inline-flex;
  padding: 15px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.3s ease;
}
#reportIcon{
  background-color: #197acf;
}
#routeIcon{
  background-color: #197acf;
}
.icon:hover{
  opacity: 0.8;
}
.icon i {
  margin-right: 5px;
}
#cancelRouteButton{
    display: none;
    position: fixed;
    z-index: 2;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    background-color: #197acf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#cancelRouteButton:hover{
  background-color: #197acf;
}
#localizar {
    position: absolute;
    top: 100px;
    right: 30px;
    padding: 20px 30px;
    font-size: 1em;
    font-weight: bold;
    background: linear-gradient(45deg, #115c9d, #197acf);
    color: white;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s, box-shadow 0.2s, background 0.3s;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s ease;
}
#localizar:hover{
  transform: scale(1.05);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #197acf, #115c9d);
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
  }
}
#localizar{
  animation: pulse 1.5s infinite;
}
#centralizar{
  position: absolute;
  z-index: 2;
  bottom: 200px;
  right: 30px;
  padding: 12px;
  background-color: #197acf;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
#centralizar:hover{
  background-color: #115c9d;
}
#mudar-tema{
  position: absolute;
  z-index: 2;
  bottom: 120px;
  right: 30px;
  padding: 11px;
  background-color: #197acf;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
#mudar-tema:hover{
  background-color: #115c9d;
}
.botao-tutorial-mapa{
  position: absolute;
  z-index: 2;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #197acf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.botao-tutorial-mapa:hover{
  background-color: #115c9d;
}
#overlay-tutorial{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.card-tutorial{
  position: absolute;
  z-index: 4;
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  display: none;
}
.card-tutorial.active{
  display: block;
}
.botao-tutorial{
  background-color: #197acf;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.botao-tutorial:hover{
  background-color: #115c9d;
}
#ponto-img{
  height: 160px;
}
#ponto-info-img{
  height: 123px;
}
#rota-img{
  height: 220px;
}
#encerrar-rota-img{
  height: 80px;
}
#localizacao-img{
  height: 180px;
}
#voce-img{
  height: 140px;
}
@media (max-width: 768px) {
  body {
    font-size: 90%;
  }
    .navbar a{
      font-size: 19px; 
      padding: 10px;
    }
    .navbar ul{
      height: 10px;
      width: 30px;
    }
    #center {
      height: 70vh;
    }
  .message {
    min-width: 150px;
    font-size: 14px;
  }
  #map {
    top: 0px;
    height: calc(100vh - 60px);
  }
  #localizar {
    top: 80px;
    right: 20px;
    padding: 15px 20px;
    font-size: 0.9em;
  }
  #cancelRouteButton {
    bottom: 20px;
    padding: 10px 15px;
    font-size: 0.9em;
  }
  #centralizar{
    bottom: 200px;
    right: 20px;
    padding: 10px;
    font-size: 14px;
  }
  #mudar-tema{
    bottom: 160px;
    right: 20px;
    padding: 9px;
    font-size: 14px;
  }
  #iconContainer {
    gap: 20px;
  }
  .icon {
    padding: 10px;
    font-size: 0.9em;
  }
  .botao-tutorial-mapa {
    bottom: 5px;
    right: 5px;
    padding: 8px 15px;
    font-size: 0.9em;
  }
  #encerrar-rota-img {
    max-height: 60px;
  }
}
@media (max-width: 480px) {
  .navbar a{
    font-size: 16px; 
    padding: 10px;
  }
  .navbar ul{
    height: 10px;
    width: 30px;
  }
  #center {
    height: 70vh;
  }
  #localizar {
    font-size: 0.8em;
    padding: 10px 15px;
  }

  #cancelRouteButton,
  #centralizar, #mudar-tema,
  .botao-tutorial-mapa {
    font-size: 0.8em;
    padding: 8px 10px;
  }
  .icon {
    font-size: 0.8em; 
    padding: 8px;
  }
  .message {
    font-size: 12px; 
  }
  #map {
    top: 0px;
    height: calc(100vh - 50px);
  }
}